{% extends 'MyTodo/base.html' %}
{% block title %} Home {% endblock %}

{% block css %}

.bg-light {
    background-color: #b0c5de!important;
}
.heading {
  background-color: #b0c5de!important;
}

.bg-light1 {
  margin-top: 15px;
}
.navbar-expand-lg {
  margin-top: 15px;
  margin-left: 400px;
}
.nav-item {
    background-color: #17a2b8;
}
.btn-primary2 {
  background-color: #2c908a;
}

.btn-primary1 {
  background-color: #ffc06a;
}

.btn-primary3 {
  background-color: #df4153;
}
{% endblock %}

{% block content %}
{% csrf_token %}
<nav id="navbar-example2" class="navbar navbar-light bg-light border">
    <a class="navbar-brand" href="#"><b>My Todo App</b></a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="{% url 'Add_Task' %}"><button type="button" class="btn btn-primary2 btn-lg">Add New Task</button></a>
      </li>
    </ul>
  </nav>
  {% if task %}
  <nav id="navbar-example2" class="navbar navbar-light bg-light1 border">
    <a class="navbar-brand" href="#"><b>TASK NAME</b></a>
    <ul class="nav nav-pills">
      <li class="nav-item1">
        <a class="nav-link" href="#mdo"><b>PRIORITY</b></a>
      </li>
      <li class="nav-item1">
        <a class="nav-link" href="#mdo">  </a>
      </li>
      <li class="nav-item1">
        <a class="nav-link" href="#mdo"><b>STATUS</b></a>
      </li>
      <li class="nav-item1">
        <a class="nav-link" href="#mdo">  </a>
      </li>
      <li class="nav-item1">
        <a class="nav-link" href="#fat"><b>END DATE<br>(Expected)</b></a>
      </li>
      <li class="nav-item1">
        <a class="nav-link" href="#mdo">  </a>
      </li>
      <li class="nav-item1">
        <a class="nav-link" href="#mdo"><b>ASSIGNEEES</b></a>
      </li>
      <li class="nav-item1">
        <a class="nav-link" href="#mdo">  </a>
      </li>
      <li class="nav-item1 dropdown">
        <a class="nav-link toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false"><b>UPDATE<br>STATUS</b></a>
      </li>
      <li class="nav-item1">
        <a class="nav-link" href="#mdo">  </a>
      </li>
      <li class="nav-item1 dropdown">
        <a class="nav-link toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false"><b>DELETE<br>TASK</b></a>
      </li>
    </ul>
  </nav>
  {% for tasks in task %}
  <nav id="navbar-example2" class="navbar navbar-light bg-light1 border">
    <a class="navbar-brand" href="#">{{tasks.task_name}}</a>
    <ul class="nav nav-pills">
      <li class="nav-item1">
        <a class="nav-link" href="#mdo">{{tasks.priority}}</a>
      </li>
      <li class="nav-item1">
        <a class="nav-link" href="#mdo">  </a>
      </li>
      <li class="nav-item1">
        <a class="nav-link" href="#mdo">{{tasks.status}}</a>
      </li>
      <li class="nav-item1">
        <a class="nav-link" href="#mdo">  </a>
      </li>
      <li class="nav-item1">
        <a class="nav-link" href="#fat">{{tasks.end_date}}</a>
      </li>
      <li class="nav-item1">
        <a class="nav-link" href="#mdo">  </a>
      </li>
      <li class="nav-item1">
        <a class="nav-link" href="#mdo">{{tasks.assignees}}</a>
      </li>
      <li class="nav-item1">
        <a class="nav-link" href="#mdo">  </a>
      </li>
      <li class="nav-item1 dropdown">
        <a href="{% url 'Edit_Task' tasks.pk %}"><button type="button" class="btn btn-primary1 btn-lg">Edit</button></a>
      </li>
      <li class="nav-item1">
        <a class="nav-link" href="#mdo">  </a>
      </li>
      <li class="nav-item1 dropdown">
        <a href="{% url 'Delete_Task' tasks.pk %}"><button type="button" class="btn btn-primary3 btn-lg">Delete</button></a>
      </li>
    </ul>
  </nav>
  {% endfor %}
  {% endif %}

{% endblock %}
